.text-18px{
    font-size: calc(0.5vw + 0.8vh);
    color: #9B97B9
}

.text-16px{
    font-size: calc(0.4vw + 0.7vh);
    color: #9B97B9
}

.text-20px{
    font-size: calc(0.6vw + 0.9vh);
    color: #7674A0
}

.shadow{
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}


.post-list-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    min-height: clamp(30.5rem, 31rem, 31.5rem)
}

.filters-container{
    display: flex;
    flex-direction:column;
    align-items:center;
    background-color: #E9E5EE;
    max-width: clamp(18.5rem, 19rem, 19.5rem);
    padding-top: clamp(3.5rem, 3.7rem, 3.9rem);
    gap: clamp(1rem, 1.5rem, 2rem)
}

.search-bar{
    width: clamp(14.5rem, 15rem, 15.5rem);
    background-color: white;
    border-radius: clamp(1rem, 1.5rem, 2rem);
    display: flex;
    gap: clamp(0.5rem, 0.7rem, 1rem);
    padding: clamp(0.2rem, 0.4rem, 0.8rem);
    display: flex;
    align-items:center;
    padding-left: clamp(0.7rem, 1rem, 1.3rem)
}

.search-bar-image{
    width: clamp(0.8rem, 1rem, 1.2rem);
    height: clamp(0.8rem, 1rem, 1.2rem)
}

.search-input{
    border: none;
}

.search-input::placeholder{
    color: #9B97B9
}

.search-input:focus{
    outline: none;
}

.tags-container{
    display: flex;
    flex-direction: column;
    gap: clamp(1rem, 1.4rem, 2rem)
}

.tags-1{
    display: flex;
    flex-direction: column;
    border-top: 0.5px solid #cfcce3;
    border-bottom: 0.5px solid #cfcce3;
    padding: clamp(0.4rem, 0.6rem, 0.8rem);
    gap: clamp(0.3rem, 0.5rem, 0.7rem);
    width: clamp(14.5rem, 15rem, 15.5rem);
}

.input-tags{
    display: flex;
    gap: clamp(0.2rem, 0.4rem, 0.8rem);
    align-items: center
}

.tags-title{
    display: flex;
    justify-content: center
}

.tags{
    display: flex;
    gap: clamp(0.1rem, 0.4rem, 0.7rem);
    flex-direction: column;
}

input[type="checkbox"] {
    accent-color: #9B97B9;
    appearance: none;
    -webkit-appearance: none;
    width: calc(0.5vw + 0.7vh);
    height: calc(0.5vw + 0.7vh);
    border: calc(0.07vw + 0.09vh) solid #9B97B9;
    border-radius: calc(0.1vw + 0.19vh);
    cursor: pointer;
}


input[type="checkbox"]:checked::after {
    content: '';
    display: block;
    width: calc(0.1vw + 0.2vh);
    height: calc(0.3vw + 0.3vh);
    border: solid #9B97B9;
    border-width: 0px calc(0.05vw + 0.17vh) calc(0.05vw + 0.17vh) 0px;
    transform: rotate(45deg);
    margin: auto auto;
}


input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: calc(0.5vw + 0.7vh);
    height: calc(0.5vw + 0.7vh);
    border: calc(0.07vw + 0.09vh) solid #9B97B9;
    border-radius: 50%;
    cursor: pointer;
    display: grid;
    place-content: center;
}

input[type="radio"]::after {
    content: '';
    width: calc(0.25vw + 0.25vh);
    height: calc(0.25vw + 0.25vh);
    border-radius: 50%;
    background-color: #9B97B9;
    transform: scale(0);
    transition: 0.15s ease-in-out;
}

input[type="radio"]:checked::after {
    transform: scale(1);
}

.post-container{
    display: flex;
    gap: clamp(2.5rem, 3rem, 3.5rem);
    padding-top: clamp(2.1rem, 2.6rem, 3.1rem);
    padding-bottom: clamp(2.1rem, 2.6rem, 3.1rem);
}

.first-posts-column{
    display: flex;
    flex-direction: column;
    gap: clamp(2.5rem, 3rem, 3.5rem);
    padding-left: clamp(3rem, 3.5rem, 4rem);
    overflow-y: auto;
    max-height: clamp(40.5rem, 41rem, 41.5rem);
    scrollbar-width: thin;
    scrollbar-color: #d3c8d7 transparent;
}

.second-posts-column{
    display: flex;
    flex-direction: column;
    gap: clamp(2.5rem, 3rem, 3.5rem);
    overflow-y: auto;
    max-height: clamp(40.5rem, 41rem, 41.5rem);
    scrollbar-width: thin;
    scrollbar-color: #d3c8d7 transparent;
}
