*{
    padding: 0px;
    margin: 0px;   
    font-family: 'Chelsea Market';
}

body{
    background-color: #F6F6F6
}

.text-27px{
    font-size: calc(0.7vw + 1.2vh);
    color: #3E3880;
    text-shadow: 0 calc(0.1vw + 0.2vh) calc(0.2vw + 0.4vh) rgba(0,0,0,10%);
}

.text-21px{
    font-size: clamp(0.7rem, 1rem, 1.3rem);
    color: #4C4883;
    text-shadow: 0 calc(0.1vw + 0.2vh) calc(0.2vw + 0.4vh) rgba(0,0,0,25%);
}

.text-12px{
    font-size: calc(0.3vw + 0.5vh);
    color: #3E3880
}

.text-24px{
    font-size: clamp(0.6em, 1.2em, 1.4em);
    color: #FFD700;
    text-shadow: clamp(0.01em, 0.05em, 0.06em) 0.1em clamp(0.02em, 0.08em, 0.1em) rgba(0, 0, 0, 0.3);
}

.text-18px{
    font-size: calc(0.4vw + 0.8vh);
    color: #3E3880
}

.light{
    color: #ADAAC7
}









footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-top: clamp(1.5rem, 2rem, 2.5rem);
    padding-right: clamp(9.5rem, 10rem, 10.5rem);
    padding-bottom: clamp(1.5rem, 2rem, 2.5rem);
    padding-left: clamp(9.5rem, 10rem, 10.5rem);
    background-color: #4C4883;
}

.social-media-block{
    display: flex;
    align-items: center;
    gap: clamp(2.5rem, 3rem, 3.5rem);
}

.social-media{
    width: clamp(5rem, 5.3rem, 5.5rem);
    height: clamp(5rem, 5.3rem, 5.5rem)
} 

.white-text{
    color: white
}

