*{
    padding: 0px;
    margin: 0px;   
    font-family: 'Chelsea Market';
}

body{
    background-color: #F6F6F6
}

.text-27px{
    font-size: calc(0.7vw + 1.2vh);
    color: #3E3880;
    text-shadow: 0 calc(0.1vw + 0.2vh) calc(0.2vw + 0.4vh) rgba(0,0,0,10%);
}

.text-21px{
    font-size: clamp(0.7rem, 1rem, 1.3rem);
    color: #4C4883;
    text-shadow: 0 calc(0.1vw + 0.2vh) calc(0.2vw + 0.4vh) rgba(0,0,0,25%);
}

.text-12px{
    font-size: calc(0.3vw + 0.5vh);
    color: #3E3880
}

.text-24px{
    font-size: clamp(0.6em, 1.2em, 1.4em);
    color: #FFD700;
    text-shadow: clamp(0.01em, 0.05em, 0.06em) 0.1em clamp(0.02em, 0.08em, 0.1em) rgba(0, 0, 0, 0.3);
}

.text-18px{
    font-size: calc(0.4vw + 0.8vh);
    color: #3E3880
}

.light{
    color: #ADAAC7
}

/* Header */

header{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 clamp(9.5rem, 10rem, 10.5rem);
    height: clamp(5rem, 5.5rem, 5rem);
    width: auto
}

.forum-div{
    position: relative;
    display: inline-block;
    gap: clamp(0.2rem, 0.4rem, 0.6rem);
}

.forum-image{
    width: clamp(0.8rem, 1rem, 1.2rem);
    height: clamp(0.4rem, 0.7rem, 0.8rem);
    position: absolute;
    right: calc(-0.5vw + -1vh);  
    top: calc(-0.1vw + -0.2vh);
}

.shadow{
    text-shadow: 1px 1px 30% black
}

.urls-div{
    min-height: clamp(2rem, 2.5rem, 3rem);
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: clamp(0.2rem, 0.4rem, 0.7rem);
}

.bth-change-div{
    display: flex;
    align-items: center;
    flex-direction:row;
    gap: clamp(0.4rem, 0.6rem, 0.9rem);
}

.url{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: clamp(0.4rem, 0.6rem, 0.8rem);
    justify-content: space-around;
    min-height: clamp(1rem, 1rem, 2.5rem);
    padding: 0 clamp(0.4rem, 0.6rem, 0.8rem);
}

.main-image{
    width: clamp(0.7rem, 1rem, 1.5rem);
    height: clamp(0.7rem, 0.9rem, 1.1rem);
    margin: clamp(0.2rem, 0.4rem, 0.6rem) 0
}

.main-url{
    background-color: #E9E5EE;
}

.post-image{
    width: clamp(1rem, 1.1rem, 1.6rem);
    height: clamp(0.6rem, 0.8rem, 1rem);
}

.btn{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: clamp(0.4rem, 0.6rem, 0.9rem);
    justify-content: center;
    min-height: clamp(1.5rem, 2rem, 3.5rem);
    padding: 0 clamp(0.5rem, 0.7rem, 1rem);
    border: clamp(0.05rem, 0.07rem, 0.1rem) solid #CDCED2;
    border-radius: clamp(3rem, 3.5rem, 4rem);
    background-color: white;
}

.btn:hover{
    background-color: #E9E5EE;
    cursor:pointer
}


.profile-small{
    width: clamp(1rem, 1.2rem, 1.5rem);
    height: clamp(1rem, 1.2rem, 1.5rem);   
}

.change-language{
    width: clamp(1.5rem, 1.8rem, 2.5rem);
    height: clamp(1rem, 1.5rem, 2rem);
}


.white-text{
    color: white;
}






/* Footer */


footer {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding-top: clamp(1.5rem, 2rem, 2.5rem);
    padding-right: clamp(9.5rem, 10rem, 10.5rem);
    padding-bottom: clamp(1.5rem, 2rem, 2.5rem);
    padding-left: clamp(9.5rem, 10rem, 10.5rem);
    background-color: #4C4883;
}

.social-media-block{
    display: flex;
    align-items: center;
    gap: clamp(2.5rem, 3rem, 3.5rem);
}

.social-media{
    width: clamp(5rem, 5.3rem, 5.5rem);
    height: clamp(5rem, 5.3rem, 5.5rem)
} 




/* main */

.center{
    display: flex;
    min-height: 100vh;
    justify-content: start;
    padding: clamp(2.5rem, 3rem, 3.5rem) 0;
    flex-direction: column;
}


.top-content{
    display: flex;
    justify-content: space-between;
    padding: 0 clamp(15rem, 16rem, 17rem);
    align-items: start;
    gap: clamp(3rem, 3.5rem, 4rem);
}

.info-cart{
    height: clamp(13.5rem, 14.5rem, 17.5rem);
    border: clamp(0.03rem, 0.05rem, 0.07rem) #c8c9cc solid;
    border-radius: clamp(1rem, 1.3rem, 1.6rem);
    display: flex;
    flex-direction: column;
    padding-top: clamp(0.5rem, 1rem, 1.5rem);
    background-color: white;
}

.back{
    align-items: center;
    width: clamp(10rem, 14rem, 17rem);
}

.front{
    padding-left: clamp(0.5rem, 1rem, 1.5rem);
    width: clamp(10rem, 13.5rem, 17rem);
}

ul{
    padding-top: clamp(0.7rem, 1rem, 1.5rem);
    display: flex;
    flex-direction: column;
    padding-left: clamp(0.5rem, 1rem, 1.5rem)
}

.database-img{
    width: clamp(0.8rem, 1.3rem, 1.7rem);
    height: clamp(0.8rem, 1.3rem, 1.7rem)
}

.info-title{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: clamp(0.5rem, 0.7rem, 1rem)
}

.back-ul{
    padding-left: clamp(1.5rem, 2rem, 2.5rem)
}

.cart-example{
    width: clamp(15rem, 30rem, 25rem);
    height: clamp(11rem, 13.5rem, 15rem);
    border-top: clamp(0.1rem, 0.3rem, 0.5rem) #E9E5EE solid;
    border-bottom: clamp(0.1rem, 0.3rem, 0.5rem) #E9E5EE solid;
    display: flex;
    gap: clamp(0.9rem, 1.1rem, 1.3rem);
    padding-left: clamp(0.6rem, 0.8rem, 1rem);
    padding-top: clamp(0.6rem, 0.8rem, 1rem);
    align-items: start;
    flex-direction: column;
}


.profile-big{
    width: clamp(1rem, 1.5rem, 2rem);
    height: clamp(1rem, 1.5rem, 2rem);
}

.cart-user{
    display: flex;
    align-items: center;
    gap: clamp(0.3rem, 0.5rem, 0.7rem)
}

.cart-content{
    display: flex;
    flex-direction: column;
    gap: clamp(0.5rem, 1rem, 1.5rem)
}

.cart-bottom{
    display: flex;
    flex-direction: column;
    gap: clamp(0.3rem, 0.5rem, 0.7rem)
}

.tags{
    display: flex;
    gap: clamp(0.1rem, 0.3rem, 0.5rem)
}

.post-buttons{
    display: flex;
    gap: clamp(0.1rem, 0.3rem, 0.5rem)
}

.likes-button{
    width: clamp(3.5rem, 4rem, 4.5rem);
    height: clamp(1rem, 1.5rem, 2rem);
    border-radius: clamp(1rem, 1.3rem, 1.6rem);
    border: clamp(0.05rem, 0.07rem, 0.1rem);
    background-color: #E9E5EE;
    color: #3E3880;
    font-size: clamp(0.5rem, 0.7rem, 0.9rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.1rem, 0.3rem, 0.5rem)
}

.not-like-img{
    width: clamp(0.5rem, 0.7rem, 0.9rem);
    height: clamp(0.5rem, 0.7rem, 0.9rem)
}

.comment-button{
    width: clamp(3.5rem, 4rem, 4.5rem);
    height: clamp(1rem, 1.5rem, 2rem);
    border-radius: clamp(1rem, 1.3rem, 1.6rem);
    border: clamp(0.05rem, 0.07rem, 0.1rem);
    background-color: #E9E5EE;
    color: #3E3880;
    font-size: clamp(0.5rem, 0.7rem, 0.9rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: clamp(0.1rem, 0.3rem, 0.5rem)
}

.comment-img{
    width: clamp(0.5rem, 0.7rem, 0.9rem);
    height: clamp(0.5rem, 0.7rem, 0.9rem)
}

.bottom-content{
    display: flex;
    justify-content: space-between;
    padding: clamp(2.5rem, 3rem, 3.5rem) clamp(14rem, 15.5rem, 18rem);
    align-items: start;
    gap: clamp(3rem, 3.5rem, 4rem);
}

.features-block{
    height: clamp(20rem, 25rem, 30rem);
    max-width: clamp(32rem, 36rem, 38rem);
    border: clamp(0.03rem, 0.05rem, 0.07rem) #c8c9cc solid;
    border-radius: clamp(1rem, 1.3rem, 1.6rem);
    display: flex;
    flex-direction: column;
    padding-left: clamp(1.5rem, 2rem, 2.5rem);
    padding-top: clamp(1.3rem, 1.7rem, 2rem);
    background-color: white;
    justify-content: start
}

.text-features{
    color: #6A64B1;
}

ol{
    padding-top: clamp(0.7rem, 1rem, 1.5rem);
    display: flex;
    flex-direction: column;
    padding-left: clamp(0.5rem, 1rem, 1.5rem);
}

.CRUD{
    padding: clamp(1rem, 1.3rem, 1.8rem) 0;
}

.li-ol{
    text-shadow: none;
    color: #ADAAC7
}

.pages-block{
    max-height: clamp(12.5rem, 13rem, 13.5rem);
    width: clamp(15.5rem, 16rem, 16.5rem);
    border: clamp(0.03rem, 0.05rem, 0.07rem) #c8c9cc solid;
    border-radius: clamp(1rem, 1.3rem, 1.6rem);
    display: flex;
    flex-direction: column;
    padding: clamp(1rem, 1.5rem, 2rem) clamp(1.5rem, 2rem, 2.5rem);
    background-color: white;
}

.pages{
    display: flex;
    gap: clamp(0.5rem, 0.7rem, 0.9rem);
    align-items: center;
}

.pages-container{
    display: flex;
    gap: clamp(0.5rem, 1rem, 1.5rem);
    flex-direction: column;
}

.main-image{
    width: clamp(1rem, 1.4rem, 1.5rem);
    height: clamp(1rem, 1.2rem, 1.5rem)
}

.mini-user-image{
    width: clamp(0.5rem, 1.2rem, 1.5rem);
    height: clamp(0.9rem, 1.3rem, 1.7rem)
}